In [1]:
import time
import glob as glob
from zipfile import ZipFile
from bs4 import BeautifulSoup
import dateutil.parser as dparser
from datetime import datetime
import pandas as pd
import multiprocessing as mp
import numpy as np

In [2]:
root_dir = '/home/shane/Documents/thesis/output/cleaned/'
files = glob.glob(root_dir + '*.csv')
df = pd.DataFrame()

In [3]:
for file in files:
    temp = pd.read_csv(file)
    df = pd.concat([df, temp], axis=0)

In [7]:
df.head()

,source,service,timestamp_dir,placeholder,success_count,success_pct,partial_count,partial_pct,major_count,major_pct,maintenance_count,maintenance_pct,unknown_count,unknown_pct,timestamp_site,timestamp
0,slack,slack,20200508T150001,NaN,10,1.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN,NaN
1,slack,slack,20200508T060001,NaN,10,1.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN,NaN
2,slack,slack,20200508T130001,NaN,10,1.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN,NaN
3,slack,slack,20200508T200001,NaN,10,1.0,0,0.0,0,0.0,0,0.0,0,0.0,NaN,NaN
4,slack,slack,20200508T030001,NaN,9,0.9,1,0.1,0,0.0,0,0.0,0,0.0,NaN,NaN

In [ ]:
df_final.to_csv(r'/home/shane/Documents/thesis/output/final/failures.csv' + file.split('/')[8], index=False)