In [1]:
import time
import glob as glob
from zipfile import ZipFile
from bs4 import BeautifulSoup
import dateutil.parser as dparser
from datetime import datetime
import pandas as pd
import multiprocessing as mp
import numpy as np

In [2]:
root_dir = '/home/shane/Documents/thesis/output/cleaned/'
files = glob.glob(root_dir + '*.csv')
df = pd.DataFrame()

In [3]:
for file in files:
    if 'downdetector_v2' in file:
        continue
    temp = pd.read_csv(file)
    df = pd.concat([df, temp], axis=0)

In [7]:
df

,source,service,timestamp_dir,timestamp_site,operational_count,operational_pct,partial_outage_count,partial_pct,major_outage_count,major_pct,maint_count,maint_pct
0,slack,slack,2020-03-26 12:00:01,NaN,10,1.0,0,0.0,0,0.0,0,0.0
1,slack,slack,2020-03-26 13:00:01,NaN,10,1.0,0,0.0,0,0.0,0,0.0
2,slack,slack,2020-03-26 14:00:02,NaN,10,1.0,0,0.0,0,0.0,0,0.0
3,slack,slack,2020-03-26 15:00:01,NaN,10,1.0,0,0.0,0,0.0,0,0.0
4,slack,slack,2020-03-26 16:00:01,NaN,10,1.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
22806,cloud-google-cloud-platform,google-cloud,2020-06-10 19:00:02,NaN,1,1.0,0,0.0,0,0.0,0,0.0
22807,cloud-google-cloud-platform,google-cloud,2020-06-10 20:00:01,NaN,1,1.0,0,0.0,0,0.0,0,0.0
22808,cloud-google-cloud-platform,google-cloud,2020-06-10 21:00:01,NaN,1,1.0,0,0.0,0,0.0,0,0.0
22809,cloud-google-cloud-platform,google-cloud,2020-06-10 22:00:01,NaN,1,1.0,0,0.0,0,0.0,0,0.0
22810,cloud-google-cloud-platform,google-cloud,2020-06-10 23:00:01,NaN,1,1.0,0,0.0,0,0.0,0,0.0

In [5]:
df.to_csv(r'/home/shane/Documents/thesis/output/final/failures2.csv', index=False)

### Sample for the paper, minus pct columns

In [6]:
no_pct = df[['source','service','timestamp_dir','timestamp_site','operational_count','partial_outage_count','major_outage_count','maint_count']]
sample = no_pct.sample(frac=0.5, replace=False, random_state=2).head(8)
sample

,source,service,timestamp_dir,timestamp_site,operational_count,partial_outage_count,major_outage_count,maint_count
239746,downrightnow,livejournal,2019-08-08 05:00:01,"Thu, August 8, 2019 12:58 AM EDT",1,0,0,0
2465,downrightnow,netflix,2017-11-25 22:00:01,"Sat, November 25, 2017 4:58 PM EST",1,0,0,0
7583,atlassian,bitbucket,2020-04-19 19:00:01,2020-04-19 18:59:59,13,0,0,0
275029,downrightnow,gmail,2019-11-08 02:00:01,"Thu, November 7, 2019 8:58 PM EST",1,0,0,0
3372,downdetector,airbnb,2017-12-22 16:00:01,REMOVED,5,0,0,0
100740,downrightnow,blogger,2018-08-08 20:00:01,"Wed, August 8, 2018 3:58 PM EDT",1,0,0,0
20083,atlassian,jira-align,2020-05-29 21:00:01,2020-05-29 21:00:25,25,0,0,0
334566,downrightnow,typepad,2020-04-11 05:00:01,"Sat, April 11, 2020 12:58 AM EDT",1,0,0,0