In [2]:
import time
import glob as glob
from zipfile import ZipFile
from bs4 import BeautifulSoup
import multiprocessing as mp
import pandas as pd

In [3]:
root_dir = '../data/alexa'

In [8]:
def extract_html_data(html_doc):
    soup = BeautifulSoup(open(html_doc), 'html.parser')
    result = []
    
    result.append(html_doc.split('/')[3].split('.')[0])
    
    for rank in soup.find_all("div", {"class": "td DescriptionCell"}):
        result.append(' '.join(rank.text.split()))
    
    return result

In [9]:
files = glob.glob(root_dir + '/*.html', recursive=True)
pool = mp.Pool(mp.cpu_count())

start_time = time.time()
results = pool.map(extract_html_data, [file for file in files])
pool.close()
end_time = time.time()

print(end_time - start_time)

0.05908346176147461

In [10]:
print(results)

[['alexa_top50', 'Google.com', 'Youtube.com', 'Tmall.com', 'Baidu.com', 'Qq.com', 'Sohu.com', 'Facebook.com', 'Taobao.com', '360.cn', 'Jd.com', 'Amazon.com', 'Yahoo.com', 'Wikipedia.org', 'Weibo.com', 'Sina.com.cn', 'Zoom.us', 'Xinhuanet.com', 'Live.com', 'Reddit.com', 'Netflix.com', 'Microsoft.com', 'Panda.tv', 'Instagram.com', 'Zhanqi.tv', 'Office.com', 'Alipay.com', 'Google.com.hk', 'Csdn.net', 'Vk.com', 'Myshopify.com', 'Bing.com', 'Yahoo.co.jp', 'Microsoftonline.com', 'Twitch.tv', 'Okezone.com', 'Naver.com', 'Bongacams.com', 'Twitter.com', 'Ebay.com', 'Yy.com', 'Tianya.cn', 'Huanqiu.com', 'Adobe.com', 'Amazon.in', 'Aliexpress.com', 'Amazon.co.jp', 'Stackoverflow.com', 'Canva.com', 'Aparat.com', '17ok.com']]

In [11]:
df = pd.DataFrame(row for row in results)
df = df.transpose()
column_names = df.iloc[0]
df = df[1:]
df.columns = column_names

In [12]:
df.head()

0  alexa_top50
1   Google.com
2  Youtube.com
3    Tmall.com
4    Baidu.com
5       Qq.com

In [13]:
df.to_csv(r'/home/shane/Documents/thesis/output/topsites_alexa.csv', index=True)